body {

    background-color: #D3D3D3;
    
      
  }
  .navbar {

    background-color: black;
  }
  .navbar a {
  
    color: white;
  }
  #h{
    border: 2px solid red;
  }
  .custdetails{
    color: red;
    
    padding-left: 30px;
  
}
.footer-content-outer-div{
  justify-content: center;
}
.footer-text{
  margin-top:20px;
  color: #ffffff;
  margin-bottom:20px;
  font-size: 12px;
  font-weight: 600;
}