<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>orderProcessing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.hsbc.auto.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.hsbc.auto.Schedular</listener-class>
  </listener>
  
   <filter>
    <filter-name>SessionAuthFilter</filter-name>
    <filter-class>com.hsbc.Security.Auth</filter-class>
  </filter>
  <filter>
    <filter-name>SessionAjaxAuthFilter</filter-name>
    <filter-class>com.hsbc.Security.AjaxAuth</filter-class>
  </filter>
  
  
  
  <filter-mapping>
    <filter-name>SessionAuthFilter</filter-name>
    <url-pattern>/orderList</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>SessionAuthFilter</filter-name>
    <url-pattern>/getAddQuote</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>SessionAuthFilter</filter-name>
    <url-pattern>/product</url-pattern>
  </filter-mapping>
  
   <filter-mapping>
    <filter-name>SessionAuthFilter</filter-name>
    <url-pattern>/getInvoice</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>SessionAjaxAuthFilter</filter-name>
    <url-pattern>/approveOrder</url-pattern>
  </filter-mapping>
  
  
  <filter-mapping>
    <filter-name>SessionAjaxAuthFilter</filter-name>
    <url-pattern>/ProductQuoteSubmit</url-pattern>
  </filter-mapping>
  
 
  <filter-mapping>
    <filter-name>SessionAjaxAuthFilter</filter-name>
    <url-pattern>/getProducts</url-pattern>
  </filter-mapping>
 
  <filter-mapping>
    <filter-name>SessionAjaxAuthFilter</filter-name>
    <url-pattern>/ProductQuote2</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>SessionAjaxAuthFilter</filter-name>
    <url-pattern>/ProductQuote1</url-pattern>
  </filter-mapping>
  
  
  <context-param>
    <param-name>log4j-config</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
</web-app>